*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #444;
    background-position: center;
    background-size: cover;
}

a{
    text-decoration: none;
}

header .menu{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;

}

header .menu li{
    display: inline-block;

}

header .menu a{
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 200ms;
}

header .menu .ativo, header .menu a:hover{
    color: black;
    background-color: white;
}

.principal{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    width: 250px;
    height: 200px;
}

.item-carro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

.cars{
    display: flex;
    gap: 3rem;
    justify-content: center;
    /* margin-top: 25vh; */
    width: 100%;
}

.carros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
}

.titulo{
    color: white;
}